{% extends 'RomaricDrigonOrchestraBundle::layout.html.twig' %}

{% block body %}
    {% include 'RomaricDrigonOrchestraBundle:Menu:main_menu.html.twig' %}

    {% block page %}
        <div class="container">
            {% block content '' %}
        </div>
    {% endblock page %}
{% endblock body %}