<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Orchestra</title>

    {# stylesheets, combined using Assetic #}
    {% block stylesheets %}
        {% stylesheets 'bundles/romaricdrigonorchestra/vendor/bootstrap/css/bootstrap.min.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock stylesheets %}
</head>
<body>
    {% block body '' %}

    {# scripts at the end so we don't block loading #}
    {% block javascripts %}
        {% javascripts
            '@RomaricDrigonOrchestraBundle/Resources/public/vendor/jquery/jquery.min.js'
            '@RomaricDrigonOrchestraBundle/Resources/public/vendor/bootstrap/js/bootstrap.min.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock javascripts %}
</body>
</html>