{% extends 'RomaricDrigonOrchestraBundle::layout.html.twig' %}

{% block title %}
    {{ orchestra_app_title }} - Dashboard
{% endblock title %}

{% block page %}
    <div class="jumbotron">
        <div class="container">
            <h1>Hello, world!</h1>
            <p>This is the dashboard of your Orchestra instance. Welcome!</p>
        </div>
    </div>
{% endblock page %}